body {
    background-color: rgb(26, 26, 28);
    margin-right: 0px;
    margin-left: 43px;
}
.images figure img{ 
    width: 165px;
    height: 100px;
}
figure {
    margin: 8px;
    float: left;
    text-align:center;

}
figcaption {
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: large;
    margin: 5px;
}
.images img:hover{
    transform: scale(1.1);
}
#button {
    text-align: center;

}
button {
    color: white;
    font-family: fantasy;
    font-size: large;
    background-color:rgb(101, 3, 3);
    position:absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 0px;
    width: 170px;  
    height: 55px;
    white-space: auto;
    text-align: center;
    border: 1px;
    border-radius: 7px;
    padding: 8px 14px;
    outline: none;
}