body {
    background-color: rgb(26, 26, 28);
    margin-right: 0px;
    margin-left: 24px;
}
.images figure img{ 
    width: 165px;
    height: 100px;
}
figure {
    margin: 8px;
    float: left;
    text-align:center;

}
figcaption {
    text-align: center;
    font-family: fantasy;
    color: white;
    font-size: large;
    margin: 5px;
}
.images img:hover{
    transform: scale(1.1);
}
#button {
    text-align: center;
    margin-left: 40%;
    margin-right: 50%;
    margin-bottom: 5px;

}
button {
    color: white;
    font-family: fantasy;
    font-size: large;
    background-color:rgb(101, 3, 3);
    width: 170px;  
    height: 55px;
    border: 1px;
    border-radius: 7px;
    padding: 8px 14px;
}
@media screen and (orientation: landscape) {
    #button {
        position: fixed;
        bottom: 2%;
    }    
}
@media screen and (orientation: portrait) {
    #button {
        position: fixed;
        bottom: 2%;
        right: 0%;
        left: -10%;
    }
}